.parent{
  border-style: solid;
    border-width: thick;
    border-radius:10px;
    height:600px;
}
.mainArea{
    float: left;
    border-style: solid;
    width: 75%;
    height:inherit;
}
.sideArea{
    float: left;
    width:24%;
    /*border-style: solid;*/
     height:inherit;
}

.upper{
   /*border-style: solid;*/
    width: 100%;
    border-radius:10px;
     height:54px;
 }
.inner{
    float: left;
    text-align: center;
    width: 91.95px;
   border-style: solid;
    width:thin;
    border-radius:10px;
     height:54px;
 }
.snake-2{
    position:absolute;
    top: 10px;
    left:145px;
}
.snake-3{
    position:absolute;
    top: 120px;
    right:450px;
}
.snake-4{
    position:absolute;
    top: 250px;
    right:300px;
}
.ladder-1{
    position:absolute;
    top: 60px;
    left:0px;
}
.ladder-2{
    position:absolute;
    top: 30px;
    right:360px;
}
.ladder-3{
    position:absolute;
    top: 70px;
    left:350px;
}
.ladder-4{
    position:absolute;
    top: 260px;
    left:450px;
}
.start{
    margin-top:80px;
    margin-left: 110px;
    width: 80px;
    height: 40px;
}
.rolldice{
     margin-top:20px;
    margin-left: 110px;
     width: 80px;
    height: 40px;
}
.star-0,.star-1
{
  margin-right:10px;
  margin-top: 10px;
    margin-left: 110px;
}
 
p{
    margin-left: 110px;
}.dice{
    margin-top:20px;
    border-style:solid;
    border-width:2px;
    border-radius:10px;
    width:80px;
    margin-left:110px;
}